.navbar-brand{
	font-family: Baloo;
	font-weight: 500;
	
}

body {
	font-family: Open Sans;
}

#ntext {
	color: white;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

button {
	width: auto;
	padding-bottom: 10%;
  	
}

.img-fluid{
	width: 100%;
	margin: auto;
}